.SortList{
  height: 621px;
  position: relative;
}
.left-List{
  width: 86px;
  height: 574px;
  float: left;
  overflow: scroll;
  background-color: rgb(248, 248, 248);
}
.right-List{
  width: 289px;
  height: 807px;
  margin-left: 86px;
}
.right-goods{
  width: 275px;
  height: 778px;
  padding-top: 19px;
  padding-left: 7px;
  padding-right: 7px;
}
::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}
li{
  width: 85px;
  height: 46px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
