.sort-SortList {
  height: 621px;
  position: relative;
}
.sort-left-List{
  width: 86px;
  height: 574px;
  float: left;
  overflow: scroll;
  background-color: rgb(248, 248, 248);
}
.sort-right-List {
  width: 289px;
  height: 574px;
  margin-left: 86px;
}
.sort-right-goods {
  width: 275px;
  height: 555px;
  padding-top: 19px;
  padding-left: 7px;
  padding-right: 7px;
  overflow: scroll;
}
::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}
/* sort-left-List ul {
  width: 85px;
  height: 46px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
} */
.sort-left-List li {
  width: 85px;
  height: 46px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.sort-goods-list ul {
  display: block;
  overflow: hidden;
}
.sort-goods-list li {
  width: 91px;
  height: 107px;
  float: left;
  text-align: center;
  display: block;
}
.sort-goods-list img {
  margin-left: 8px;
}
.sort-goods-list span {
  /* display: block; */
  width: 80px;
  height: 30px;
  text-decoration: none;
  font-size: 12px;
}
.sort-goods-list h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.sort-left-List .selected {
  background-color: white;
  color: red;
  text-decoration: none;
}
