.wrapper1{
  height: 180px;
  background-color: #EC3E3D;
}
.header{
  display: flex;
  height: 72px;
  width: 100%;
  overflow: hidden;
}
.header .header_avatar img{
  border-radius: 60px;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 5px;
}
 
.header_info{
  padding-left: 10px;
  height: 72px;
  width: 240px;
  color: #FDE2E0;
}
.header_info .header_info_name{
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.header_info .header_info_more span{
  height: 20;
  padding: 2px 8px;
  border-radius: 12px;
  background-color: #C8483F;
  font-size: 10px;
  margin-right: 5px;
}
.header .header_set{
  position: relative;
}

.header .header_set img{
  width: 15px;
  margin-top: 18px;
}
.header .header_set span{
  position: absolute;
  width: 28px;
  font-size: 14px;
  margin-left: 5px;
  top: 15px;
}
.details{
  color: #FDE2E0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.details div{
  margin-left: 10px;
  margin-right: 10px;
}
.details div p{
  height: 10px;
  font-size: 16px;
  font-weight:bold;
  text-align: center;
}
.vip{
  display: flex;
  background-color: #122C77;
  margin:10px 10px 0 10px;
  height: 60px;
  border-radius: 12px;

}
.vip div{
  margin: 3px 20px 3px 8px;
  height: 50px;
}
.vip div span{
  color: #FAEDA4;
  font-size: 16px;
}
.vip div p{
  color:#A1B1CB;
  font-size: 12px;
}
