.banner{
  width: 340px;
  height: 150px;
  margin-top: 110px !important;
  /* background-color: red; */
  /* overflow: hidden; */
  border-radius: 10px;
}
.swiper-container .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
}