.mine_wrapper2{
  margin-top: 30px;
  height: 567px;
  background-color: #f5f5f5;
}
.mine_tab1{
  display: flex;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.mine_tab1 div{
  flex:1;
}
.mine_tab1 div img{
  width: 20px;
  height: 20px;
  padding-left: 33px;
  padding-top: 10px;
}
.mine_tab1 div p{
  text-align: center;
}
.mine_tab2{
  display: flex;
  margin:12px 10px 0 10px;
  height: 80px;
  border-radius: 15px;
  color: #666666;
  background-color: #FFFFFF;
}
.mine_tab2 .mine_tab2_left{
  display: flex;
  width: 80%;
  /* justify-content: space-between; */
  font-size: 12px;
}
.mine_tab2 .mine_tab2_left div{
  flex:1;

}
.mine_tab2 .mine_tab2_left div div{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 25%;
}
.mine_tab2 .mine_tab2_left div p {
  text-align: center;
}
.mine_tab2 .mine_tab2_right{
  width: 20%;
  font-size: 12px;
}
.mine_tab2 .mine_tab2_right img{
  width: 20px;
  height: 20px;
  padding-left: 22px;
  padding-top: 20px;
}
.mine_tab2 .mine_tab2_right div{
  text-align: center;
  margin-top: 10px;
}
.mine_tab3{
  margin:12px 10px 0 10px;
  height: 120px;
  border-radius: 15px;
  background-color: #FFFFFF;
  
}
.mine_tab3 .mine_tab3_header{
  height: 30px;
}
.mine_tab3 .mine_tab3_header .mine_tab3_header_left{
  float: left;
  margin-left: 15px;
  margin-top: 8px;
  font-weight: bold;
}
.mine_tab3 .mine_tab3_header .mine_tab3_header_right{
  float: right;
  color:#666666;
  margin-right: 15px;
  margin-top: 9px;
  font-size: 13px;
}
.mine_tab3 .mine_tab3_footer{
  display: flex;

}
.mine_tab3 .mine_tab3_footer div{
  flex:1;
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
}
.mine_tab3 .mine_tab3_footer div img{
  margin: auto;
  width: 50%;
}
.mine_tab3 .mine_tab3_footer div :nth-child(2){
  margin-top: -5px;
  text-align: center;
  font-size: 14px;
}
.mine_tab3 .mine_tab3_footer div :nth-child(3){
  margin-top: -14px;
  text-align: center;
  font-size: 10px;
  color: #666666;
}
.mine_tab4{
  margin:12px 10px 0 10px;
  height: 200px;
  border-radius: 15px;
  background-color: #FFFFFF;
  
}
.mine_tab4 .mine_tab4_header{
  height: 30px;
}
.mine_tab4 .mine_tab4_header .mine_tab4_header_left{
  float: left;
  margin-left: 15px;
  margin-top: 8px;
  font-weight: bold;
}
.mine_tab4 .mine_tab4_header .mine_tab4_header_right{
  float: right;
  color:#666666;
  margin-right: 15px;
  margin-top: 9px;
  font-size: 13px;
}
.mine_tab4 .mine_tab4_footer{
  display: flex;
  flex-wrap: wrap;

}
.mine_tab4 .mine_tab4_footer div{
  width: 25%;
  display: flex;
  height: 90px;
  flex-direction: column;
  margin-bottom: -10px;
  justify-content: space-between;
}
.mine_tab4 .mine_tab4_footer div img{
  margin: auto;
  width: 50%;
}
.mine_tab4 .mine_tab4_footer div :nth-child(2){
  margin-top: -5px;
  text-align: center;
  font-size: 13px;
}
.mine_tab4 .mine_tab4_footer div :nth-child(3){
  margin-top: -14px;
  text-align: center;
  font-size: 10px;
  color: #666666;
}