
html,body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
@font-face {
  font-family: 'iconfont';  /* project id 1951911 */
  src: url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.eot');
  src: url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1951911_wdv5hw9y9zf.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.footer{
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  z-index: 9999;
}
.footer div{
  flex:1;
  text-align: center;
  margin:  auto;
}
.footer img{
  width: 90%;
}