
html,body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
input{  
	background:none;  
	outline:none;  
	border:none;
}
.footer{
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  z-index: 9999;
}
.footer div{
  flex:1;
  text-align: center;
  margin:  auto;
}
.footer img{
  width: 90%;
}