@font-face {
  font-family: 'iconfont';  /* project id 1951911 */
  src: url('//at.alicdn.com/t/font_1951911_740fnojb0np.eot');
  src: url('//at.alicdn.com/t/font_1951911_740fnojb0np.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1951911_740fnojb0np.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1951911_740fnojb0np.woff') format('woff'),
  url('//at.alicdn.com/t/font_1951911_740fnojb0np.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1951911_740fnojb0np.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
