@font-face {
  font-family: 'iconfont';  /* project id 1951911 */
  src: url('//at.alicdn.com/t/font_1951911_km4vcd9fok.eot');
  src: url('//at.alicdn.com/t/font_1951911_km4vcd9fok.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1951911_km4vcd9fok.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1951911_km4vcd9fok.woff') format('woff'),
  url('//at.alicdn.com/t/font_1951911_km4vcd9fok.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1951911_km4vcd9fok.svg#iconfont') format('svg');
}
