.search-input{
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  height: 45px;
}
.left-Image{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7.5px;
  left: 10px;
}
.input-div{
  position:absolute;
  width: 263px;
  height: 30px;
  left: 55px;
  background-color: #F7F7F7;
  display: flex;
  text-align: center;
  border-radius: 20px;
}
.right-Image {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7.5px;
  right: 10px;
}
.left-image {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
}
.right-image{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}
.input-a{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  text-align: center;
  position: relative;
}
.input{
  width: 233px;
  height: 16px;
  background:none;
  outline:none;
  border:none;
}