
.cart_header{
    display: flex;
    height: 44px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}
.cart_header .coushu{
    width: 88px;
    height: 44px;
}
.cart_title img{
    width: 22px;
    height: 22px;
}
.cart_title{
    height: 44px;
    font-size: 18px;
    color:#333;
    text-align:center;
    line-height: 44px;
    vertical-align: middle;
    flex: 1;
    min-width: 0;
}
.cart_enit
{
    height: 44px;
    width: 88px;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cart_enit img{
    width: 22px;
    height: 22px;
}

