.index_header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #35A8EB;
  z-index: 999;
  /* border-radius: 0px 0px 130px 70px; */
}
.index_header .index_header_top{
  position: relative;
  height: 30px;
}
.index_header .index_header_top :nth-child(1){
  position: absolute;
  height: 20px;
  top: 5px;
  left: 10px;
}
.index_header .index_header_top :nth-child(2){
  position: absolute;
  height: 20px;
  right: 63px;
  top: 7px;
}
.index_header .index_header_top :nth-child(3){
  position: absolute;
  height: 20px;
  right: 36px;
  top: 7px;
}
.index_header .index_header_top :nth-child(4){
  position: absolute;
  height: 20px;
  right: 10px;
  top: 8px;
}
.index_header .index_header_child2{
  position: relative;
}
.index_header .index_header_child2 .iconfont1{
  position: absolute;
  left: 17px;
  top:8px;
}
.index_header .index_header_child2 .iconfont2{
  position: absolute;
  right: 27px;
  top:8px;
}
.index_header .index_header_child2_search{
  height: 30px;
  width: 86%;
  margin-left: 2%;
  border-radius: 15px;
  background-color: #EAECEB;
  padding-left: 32px;
}
.index_header .index_header_nav{
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.index_header .index_header_nav .index_header_nav_title{
  flex:1;
  text-align: center;
}