.navigation{
    width: 100%;
    height: 100% ;
    
 }
 .cart_tab_nav{
    height: 33px;
    
    background-color: #fff;
    text-align:center;
    line-height: 33px;
    vertical-align: middle;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 13px ;
    
    border-bottom-left-radius: 10px;  
    border-bottom-right-radius:10px;

}
.cart_tab_nav ul{
  
    list-style: none;
   
}
.cart_tab_nav ul li{
   
    display:inline-block;
    width: 25%;
}
.cart_tab_nav a{
    color:black;
}
.cart_tab_nav .selected {
     
    text-decoration: none;
    border-bottom:2px solid red;

 }
/* .cart_list_goods{

    position: relative;
} */


/* .num_i img,input{
   
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 28px;
        text-align: center;
        font-size: 13px;
        color: #999;
        cursor: pointer;
        border: 1px solid #e6e6e6;
 
} */


