.goodsDetails_wrapper{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
  height: 667px;
  
}

.goodsDetails_details{
  height: 375px;
  width: 375px;
  overflow: scroll; 
  position: relative;
}
.goodsDetails_details .cart{
  height: 375px;
  width: 375px;
}
/* .cart_details .swiper-pagination3{
  height: 20px;
  position: absolute;
  top: 200px;
  right: 100px;
  background-color: red;
} */