.index_content {
  height: 150px;
  margin-top: 80px;
  background-color: #F2F3F4;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.index_content{
  display: flex;
  flex-wrap: wrap;
}
.index_content .index_content_item{
  width:20%;
  height: 50%;
}
.index_content .index_content_item img{
  width: 50%;
  padding-left: 15px;
  padding-top: 10px;
}
.index_content .index_content_item p{
  text-align: center;
}