.goodsDetails_goodscontent{
  position: relative;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  padding-left: 20px;
}
.goodsDetails_goodscontent .iconfont{
  position: absolute;
  font-size: 38px;
  top: 7px;
  left: 10px;
}
.goodsDetails_goodscontent .goodsDetails_goodscontent_newprice{
  color: #F2270C;
  font-weight: 700;
  font-size: 28px;
}
.goodsDetails_goodscontent .goodsDetails_goodscontent_oldprice{
  color: #b5b5b5;
  font-size: 12px;
}
.goodsDetails_goodscontent .goodsDetails_goodscontent_title{
  color:#262626;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;  
}
.goodsDetails_footer{
  width: 100%;
  position: fixed;
  bottom: 120px;
  /* background-color: red; */
}
.goodsDetails_footer .goodsDetails_footer_icon{
  display: flex;
  text-align: center;
}
.goodsDetails_footer .goodsDetails_footer_icon .iconfont{
  font-size: 16px;
  flex:1;
}
.goodsDetails_footer .goodsDetails_footer_func{
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.goodsDetails_footer .goodsDetails_footer_func .goodsDetails_footer_func_b1{
  width: 116px;
  position: absolute;
  line-height: 38px;
  height: 38px;
  background-color: red;
  border-radius: 21px;
  margin: 10px 0 0 40px;
  text-align: center  ;
  color:#fff
}
.goodsDetails_footer .goodsDetails_footer_func .goodsDetails_footer_func_b2{  
  width: 116px;
  position: absolute;
  line-height: 38px;
  height: 38px;
  background-color: red;
  border-radius: 21px;
  margin-top: 10px;
  margin-left: 220px;
  text-align: center  ;
  color:#fff
}